.not-draggable {
  user-select: none;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.sider {
  width: 38%;
  height: 100%;
  padding-top: 10px;
  background-color: #262626;
  box-sizing: border-box;
  border-right: #363636 1px solid;
  overflow: auto;
}

.loader {
  flex: 1;
  height: 100%;
  background-color: #1e1e1e;
  text-align: center;
}

.release {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo,
.name,
.version {
  color: #fff;
  display: inline-flex;
}

.name {
  font-size: 20px;
  font-weight: bold;
}

.version {
  margin-top: 5px;
  color: #aaa9a9;
  font-size: 12px;
}

.live-item-container {
  margin: 10px 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

input,
button {
  text-align: center;
  border-radius: 10px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-weight: 500;
  font-family: inherit;
  color: #ffffff;
  background-color: #0f0f0f98;
  transition: all 0.3s ease;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .1),
    7px 7px 20px 0px rgba(0, 0, 0, .1),
    4px 4px 5px 0px rgba(0, 0, 0, .1);
}

button {
  cursor: pointer;
}

button:hover {
  filter: brightness(1.4);
}

.live-item {
  display: inline-flex;
  padding: 6px 15px;
  margin: 3px;
  color: #fff;
  background-color: #3f3f3f;
}

.live-item.is-checked,
.orange {
  background-color: #ff8c00;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .3),
    7px 7px 20px 0px rgba(0, 0, 0, .3),
    4px 4px 5px 0px rgba(0, 0, 0, .3);
}

.live-item.is-checked:hover,
.orange:hover {
  filter: brightness(1.2);
}

.rid-input {
  margin: 10px 20px;
}

/* 美化滚动条 */
::-webkit-scrollbar {
  width: 0;
}

::-webkit-scrollbar-track {
  background-color: #3f3f3f;
}

::-webkit-scrollbar-thumb {
  background-color: #555;
}

.loading {
  padding-top: 0;
  padding-bottom: 0;
}

/* 水平垂直居中 */
.controller {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  width: 60px;
  height: 30px;
}