<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.borber.sbtream.server.mapper.AdminMapper">

    <resultMap id="BaseResultMap" type="com.borber.sbtream.server.model.entity.AdminDO">
            <id property="adminId" column="admin_id" jdbcType="VARCHAR"/>
            <result property="adminUname" column="admin_uname" jdbcType="VARCHAR"/>
            <result property="adminPasswd" column="admin_passwd" jdbcType="VARCHAR"/>
            <result property="adminMailbox" column="admin_mailbox" jdbcType="VARCHAR"/>
            <result property="adminCreateTime" column="admin_create_time" jdbcType="TIMESTAMP"/>
            <result property="adminModifyTime" column="admin_modify_time" jdbcType="TIMESTAMP"/>
            <result property="adminFounderId" column="admin_founder_id" jdbcType="VARCHAR"/>
            <result property="adminModifierId" column="admin_modifier_id" jdbcType="VARCHAR"/>
            <result property="adminDisabled" column="admin_disabled" jdbcType="BOOLEAN"/>
    </resultMap>

    <sql id="Base_Column_List">
        admin_id,admin_uname,admin_passwd,
        admin_mailbox,admin_create_time,admin_modify_time,
        admin_founder_id,admin_modifier_id,admin_disabled
    </sql>
</mapper>
