<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.borber.sbtream.server.mapper.AnchorMapper">

    <resultMap id="BaseResultMap" type="com.borber.sbtream.server.model.entity.AnchorDO">
            <id property="anchorId" column="anchor_id" jdbcType="VARCHAR"/>
            <result property="pfId" column="pf_id" jdbcType="VARCHAR"/>
            <result property="anchorName" column="anchor_name" jdbcType="VARCHAR"/>
            <result property="anchorIconUrl" column="anchor_icon_url" jdbcType="VARCHAR"/>
            <result property="anchorRoomCode" column="anchor_roomCode" jdbcType="VARCHAR"/>
            <result property="anchorRoomName" column="anchor_roomName" jdbcType="VARCHAR"/>
            <result property="liveType" column="live_type" jdbcType="VARCHAR"/>
            <result property="nameComment" column="name_comment" jdbcType="VARCHAR"/>
            <result property="commentDetails" column="comment_details" jdbcType="VARCHAR"/>
            <result property="autoRecordAble" column="auto_record_able" jdbcType="BOOLEAN"/>
            <result property="anchorCreateTime" column="anchor_create_time" jdbcType="TIMESTAMP"/>
            <result property="anchorModifyTime" column="anchor_modify_time" jdbcType="TIMESTAMP"/>
            <result property="anchorFounderId" column="anchor_founder_id" jdbcType="VARCHAR"/>
            <result property="anchorModifierId" column="anchor_modifier_id" jdbcType="VARCHAR"/>
            <result property="anchorDisabled" column="anchor_disabled" jdbcType="BOOLEAN"/>
    </resultMap>

    <sql id="Base_Column_List">
        anchor_id,pf_id,anchor_name,
        anchor_icon_url,anchor_roomCode,anchor_roomName,
        live_type,name_comment,comment_details,
        auto_record_able,anchor_create_time,anchor_modify_time,
        anchor_founder_id,anchor_modifier_id,anchor_disabled
    </sql>
</mapper>
