<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.borber.sbtream.server.mapper.PluginMapper">

    <resultMap id="BaseResultMap" type="com.borber.sbtream.server.model.entity.PluginDO">
            <id property="id" column="id" jdbcType="VARCHAR"/>
            <result property="officialWebsite" column="official_website" jdbcType="VARCHAR"/>
            <result property="url" column="url" jdbcType="VARCHAR"/>
            <result property="mName" column="m_name" jdbcType="VARCHAR"/>
            <result property="mMail" column="m_mail" jdbcType="VARCHAR"/>
            <result property="aInfo" column="a_info" jdbcType="VARCHAR"/>
            <result property="version" column="version" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="disable" column="disable" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,official_website,url,
        m_name,m_mail,a_info,
        version,create_time,update_time,
        disable
    </sql>
</mapper>
