<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.borber.sbtream.server.mapper.UserfocusRecordMapper">

    <resultMap id="BaseResultMap" type="com.borber.sbtream.server.model.entity.UserfocusRecordDO">
            <id property="frId" column="fr_id" jdbcType="VARCHAR"/>
            <result property="userId" column="user_id" jdbcType="VARCHAR"/>
            <result property="anchorId" column="anchor_id" jdbcType="VARCHAR"/>
            <result property="autoRecordAble" column="auto_record_able" jdbcType="BOOLEAN"/>
            <result property="frCreateTime" column="fr_create_time" jdbcType="TIMESTAMP"/>
            <result property="frModifyTime" column="fr_modify_time" jdbcType="TIMESTAMP"/>
            <result property="frFounderId" column="fr_founder_id" jdbcType="VARCHAR"/>
            <result property="frModifierId" column="fr_modifier_id" jdbcType="VARCHAR"/>
            <result property="disabled" column="disabled" jdbcType="BOOLEAN"/>
    </resultMap>

    <sql id="Base_Column_List">
        fr_id,user_id,anchor_id,
        auto_record_able,fr_create_time,fr_modify_time,
        fr_founder_id,fr_modifier_id,disabled
    </sql>
</mapper>
