<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.borber.sbtream.server.mapper.UserfocusRecordMapper">

    <resultMap id="BaseResultMap" type="com.borber.sbtream.server.model.entity.UserfocusRecordDO">
            <id property="id" column="id" jdbcType="VARCHAR"/>
            <result property="userId" column="user_id" jdbcType="VARCHAR"/>
            <result property="anchorId" column="anchor_id" jdbcType="VARCHAR"/>
            <result property="autoRecordAble" column="auto_record_able" jdbcType="BOOLEAN"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="modifyTime" column="modify_time" jdbcType="TIMESTAMP"/>
            <result property="disabled" column="disabled" jdbcType="BOOLEAN"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,anchor_id,
        auto_record_able,create_time,modify_time,
        disabled
    </sql>
</mapper>
