.sider-item {
    width: calc(100% - 20px);
    box-sizing: border-box;
    padding: 10px;
    margin: 3px 10px;
    display: flex;
}

.sider-item:hover {
    background-color: #363636;
    border-radius: 5px;
}

.sider-item-info {
    flex: 1;
}

.sider-item-title {
    color: #fff;
    font-size: 14px;
}

.sider-item-live-rid {
    color: #aaa9a9;
    font-size: 12px;
}

/* 垂直居中 */
.sider-item-button {
    display: flex;
    align-items: center;
}

.sider-item-button button {
    padding: 8px;
}

.sider-item-button:not(:last-child) {
    margin-right: 3px;
}