.top-bar {
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes box {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

.refresh {
    animation: box 2s linear infinite;
    will-change: transform;
}

.top-bar-input {
    width: 400px;
    height: 30px;
    margin: 5px;
}

.top-bar-btn {
    width: 30px;
    height: 30px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide-fade-enter-active,
.slide-fade-exit-active {
    transition: opacity 0.3s, transform 0.3s;
}

.slide-fade-enter,
.slide-fade-exit-to {
    opacity: 0;
}